@import './mixins';
//======SCHEDULE======
.schedule {
    @include flex( center, row);
    &__container {
        @include flex(space-between, row);
        margin: 3rem;
        height: 500px;
        width: 100%;
        .img {
            flex-basis: 50%;
            height: 100%;
            width: 100%;
        }
        &-list {
            @include flex( center, column);
            flex-basis: 50%;
            height: 100%;
            width: 100%;
            .row-container {
             @include flex(center, column);
             .row {
                 @include flex(space-between, row);
                    margin: .5rem 1rem;
                     p {
                        margin: 1rem 2rem;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        color: $text-color;
                    }
                }
            }
        }
    }
}